body {
  background-image: url("../img/diceheader.jpg");
  background-repeat: no-repeat;
  width:100%;
  height:100%;
  background-size: 100% 100%;
  padding-top: 150px;
  padding-bottom: 400px;
  padding-left: 300px;
  padding-right: 300px;
  text-align: center;
  color: white;
}

.pig  {
  font-family: 'Monoton', cursive;
  color: gold;
}
.header3  {
  font-family: 'Monoton', cursive;
  color: red;
}
#rules  {
  margin: 10px;
 padding: 10px;
 background-color: rgba(0, 0, 0, 0.5);
 border-radius: 15px;
 box-shadow: 3px 3px 11px #000000;
}
.Playernames  {
  margin: 20px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  box-shadow: 3px 3px 11px #000000;
}
